.header__lang-link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin: 0 18px 6px 0;
}

.header__lang-link:last-child {
  margin-right: 0;
}

/* 425-768 */
@media (max-width: 767px) {
  .header__lang-link {
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
  }
}

/* до 425 */
@media (max-width: 424px) {
  .header__lang-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 8px;
  }
}
