.text_hover_underline {
}

.text_decorated_underline {
  display: inline-block;
}

.text_hover_underline:after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  transition: 0.2s ease-in-out;
  opacity: 0;
}

.text_hover_underline:hover:after {
  opacity: 1;
}
