.header {
  max-width: 1184px;
  width: calc(100% - 96px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 28px;
}

@media (max-width: 1023px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media (max-width: 767px) {
  .header {
    width: calc(100% - 40px);
  }
}

@media (max-width: 424px) {
  .header {
    width: calc(100% - 32px);
  }
}
