.header {
  width: 94%;
  max-width: 1184px;
  margin: 0 auto 56px;
  display: flex;
  justify-content: space-between;
}

/* 1024-1280 
@media (max-width: 1279px) {
  .header {
    max-width: 928px;
  }
}
 768-1024 
@media (max-width: 1023px) {
  .header {
    max-width: 720px;
  }
}

 425-768 
@media (max-width: 767px) {
  .header {
    max-width: 370px;
  }
}

 до 425 
@media (max-width: 424px) {
  .header {
    max-width: 288px;
  }
} */
