.text-link_decorated_underline:after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  transition: 0.2s ease-in-out;
}

.text-link_decorated_underline:hover:after {
  cursor: pointer;
}
