.intro {
  padding-top: 96px;
  max-width: 690px;
}

@media (max-width: 1023px) {
  .intro {
    padding-top: 91px;
  }
}

@media (max-width: 767px) {
  .intro {
    padding-top: 76px;
  }
}

@media (max-width: 424px) {
  .intro {
    padding-top: 64px;
  }
}
