.page {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
}

@media (max-width: 1024px) {
  /* стили для широкого смартфона */
}
@media (max-width: 768px) {
  /* стили для широкого смартфона */
}
@media (max-width: 375px) {
  /* стили для среднего смартфона */
}
@media (max-width: 320px) {
  /* стили для малого смартфона */
}
