.cover__background {
  position: absolute;
  width: calc(100% + 200px);
  height: 100%;
  left: -100px;
  top: 0;
  opacity: 0.8;
  background: url("../../../images/cover-trains.jpg") center/cover no-repeat;
  transition: 0.5s;
}

.cover__link-container:hover .cover__background {
  opacity: 0.3;
  cursor: pointer;
}

@media (max-width: 1279px) {
  .cover__background {
    width: calc(100% + 96px);
    left: -48px;
  }
}

@media (max-width: 1023px) {
  .cover__background {
    width: calc(100% + 48px);
    left: -24px;
  }
}

@media (max-width: 767px) {
  .cover__background {
    width: calc(100% + 40px);
    left: -20px;
  }
}

@media (max-width: 424px) {
  .cover__background {
    width: calc(100% + 32px);
    left: -16px;
  }
}
