.cover__title {
  width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin-bottom: 26px;
  text-align: center;
}

@media (max-width: 767px) {
  .cover__title {
    width: 388px;
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 24px;
  }
}

@media (max-width: 424px) {
  .cover__title {
    width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}
