.footer {
  padding-top: 94px;
  max-width: 1184px;
  width: calc(100% - 96px);
  margin: 0 auto 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 1023px) {
  .footer {
    padding-top: 88px;
    width: calc(100% - 48px);
  }
}

@media (max-width: 767px) {
  .footer {
    padding-top: 76px;
    width: calc(100% - 40px);
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 424px) {
  .footer {
    padding-top: 64px;
    width: calc(100% - 32px);
  }
}
