.cover__content {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1023px) {
  .cover__content {
    top: 58%;
  }
}

@media (max-width: 424px) {
  .cover__content {
    top: 60%;
  }
}
